%ul.objectives
  -@program.objectives.each do |objective|
    %li.objective{'data-objective-id' => objective.id}
      %span.handle.icon-align-justify
      = objective.title
      %span.cost
        Cost:
        = objective.cost
      %span.value
        Value:
        = objective.value