.programs {
  .objective:first-child {
    border-top: 1px solid #eee;
  }
  .objective {
    padding: 6px 0;
    border-bottom: 1px solid #eee;
    cursor: default;
    .handle {
      color: #666;
      cursor: move;
    }
    .compare_checkbox {
      margin-right: 10px;
    }
  }
  .objective.highlight {
    background: rgb(251,255,155);
  }
  .tab-content {
    overflow: visible;
  }
  .program {
    margin-bottom: 55px;
  }
  .actions {
    margin-bottom: 20px;
  }
}