%ul.objectives.unstyled
  - @plan.program.objectives.each do |objective|
    %li.objective
      .objective_container
        %span.left_handle
        .title
          = truncate(objective.title)
        %span.right_handle
.actions
  = link_to "Re-Prioritize", @plan.program
  = link_to "New Objective", new_program_objective_path(@plan.program), class: 'pull-right'
